.idea/
.DS_Store
.git/
_tmp/
#  Local .terraform directories and files
**/.terraform/*
**/.terragrunt-cache/*
*.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*
*.old
*.old.*

*out.terraform*

# provider and backend TG generated
providers.tf
backend.tf