locals {
  secrets = read_terragrunt_config(find_in_parent_folders("secrets/aws-based-infra/rds.hcl"))
  settings = {
    instance_size           = "{{ instance_size | default("db.t3.medium", true) }}"
    multi_az                = {{ multi_az | default(false, true) }}
    engine_version          = "{{ engine_version | default("10.3.32", true) }}"
    parameters_group_family = "{{ parameters_group_family | default("mariadb10.3", true) }}"
    storage_size            = {{ storage_size | default(100, true) }}
    master_username         = local.secrets.locals.master_username
    max_allocated_storage   = {{ max_allocated_storage | default(0, true) }}
    apply_immediately       = {{ apply_immediately | default(true, true) }}
    cloudwatch_logs_exports = {
      "error"     = {{ cloudwatch_logs_exports.error | default(true, true) }}
      "general"   = {{ cloudwatch_logs_exports.general | default(true, true) }}
      "slowquery" = {{ cloudwatch_logs_exports.slowquery | default(true, true) }}
      "audit"     = {{ cloudwatch_logs_exports.audit | default(true, true) }}
    }
    skip_final_snapshot = {{ skip_final_snapshot | default(true, true)}}
    performance_insights = {
      enabled          = {{ performance_insights.enabled | default(true, true) }}
      retention_period = {{ performance_insights.retention_period | default(7, true) }}
    }
    backups = {
      retention_period         = {{ backups.retention_period | default(28, true) }}
      hourly_snapshots_enabled = {{ backups.hourly_snapshots_enabled | default(true, true) }}
      rotate_snapshots = {
        enabled                    = {{ backups.rotate_snapshots.enabled | default(true, true) }}
        hourly_snapshots_period    = "{{ backups.rotate_snapshots.hourly_snapshots_period | default("60 hours ago", true) }}"
        migration_snapshots_period = "{{ backups.rotate_snapshots.migration_snapshots_period | default("7 days ago", true) }}"
      }
    }
    parameters = {
      reboot_not_required = {
        character_set_server     = "{{ parameters.reboot_not_required.character_set_server | default("utf8", true) }}"
        character_set_client     = "{{ parameters.reboot_not_required.character_set_client | default("utf8", true) }}"
        character_set_connection = "{{ parameters.reboot_not_required.character_set_connection | default("utf8", true) }}"
        character_set_database   = "{{ parameters.reboot_not_required.character_set_database | default("utf8", true) }}"
        character_set_filesystem = "{{ parameters.reboot_not_required.character_set_filesystem | default("utf8", true) }}"
        character_set_results    = "{{ parameters.reboot_not_required.character_set_results | default("utf8", true) }}"
      }
      reboot_required = {
        skip_name_resolve  = "{{ reboot_required.skip_name_resolve | default("1", true) }}"
        thread_cache_size  = "{{ reboot_required.thread_cache_size | default("4", true) }}"
        concurrent_insert  = "{{ reboot_required.concurrent_insert | default("1", true) }}"
        thread_pool_size   = "{{ reboot_required.thread_pool_size | default("32", true) }}"
        performance_schema = "{{ reboot_required.performance_schema | default("1", true) }}"
      }
    }
  }
}
