locals {
  spryker      = read_terragrunt_config(find_in_parent_folders("config/common/spryker.hcl"))
  service_name = "rabbitmq"
  network_mode = "awsvpc"
  cpu_limit    = {{ cpu_limit | default(1024, true) }}
  memory_limit = {{ memory_limit | default(2048, true) }}
  volumes = {
    rabbitmq_data = {
      type         = "efs"
      efs_root_dir = "/"
    }
  }
  scheduling_strategy                = "REPLICA"
  desired_count                      = {{ desired_count | default(1, true) }}
  health_check_grace_period_seconds  = {{ health_check_grace_period_seconds | default(15, true )}}
  deployment_maximum_percent         = {{ deployment_maximum_percent | default(100, true) }}
  deployment_minimum_healthy_percent = {{ deployment_minimum_healthy_percent | default(0, true) }}
  autoscaling_enabled                = true
  autoscaling_min_capacity           = {{ autoscaling_min_capacity | default(1, true) }}
  autoscaling_max_capacity           = {{ autoscaling_max_capacity | default(2, true) }}
  load_balancer_type                 = "internal"
  deregistration_delay               = {{ deregistration_delay | default(10, true) }}
  logs_expire                        = {{ logs_expire | default(60, true) }}
  listener_mappings = {
    http = {
      lb_protocol        = "${local.spryker.locals.broker_protocol}"
      lb_port            = 15672
      container_protocol = "TCP"
      container_port     = 15672
      ssl_policy         = null
      action             = "forward"
    }
    tcp = {
      lb_protocol        = "TCP"
      lb_port            = 5672
      container_protocol = "TCP"
      container_port     = 5672
      ssl_policy         = null
      action             = "forward"
    }
  }
  container_definition = {
    name  = "rabbitmq"
    image = "spryker/rabbitmq:3.7.14"
    mountPoints = [
      {
        containerPath = "/var/lib/rabbitmq/mnesia/rabbitmq@localhost"
        sourceVolume  = "rabbitmq_data"
      }
    ]
    portMappings = [
      {
        containerPort = 15672
        hostPort      = 15672
        protocol      = "tcp"
      },
      {
        containerPort = 5672
        hostPort      = 5672
        protocol      = "tcp"
      }
    ]
  }
}
